# Environment variables
.env

# Database
*.db

# Logs
*.log
nohup.out

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
share/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pyvenv.cfg

# Virtual Environment
venv/
ENV/
bin/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db